<!-- <div class="w-full px-4 md:w-1/2 xl:w-1/4">
    <div
    class="mb-10 overflow-hidden rounded-lg bg-white shadow-1 duration-300 hover:shadow-3 dark:bg-dark-2 dark:shadow-card dark:hover:shadow-3">

    <div class="flex justify-center pt-8 text-uoc-masterbrand text-6xl">
      <i class="fas fa-tshirt text-uocCorporate"></i> 
    </div>
    <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
      <h3>
        <a href="javascript:void(0)"
          class="mb-4 block text-xl font-semibold text-dark hover:text-primary sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px] dark:text-white">
          Moda circular
        </a>
      </h3>
      <p class="mb-7 text-base leading-relaxed text-body-color dark:text-dark-6">
        Prácticas en diseño, producción y consumo textil que reducen el impacto ambiental del sector moda.
      </p>

      <a href="javascript:void(0)"
        class="inline-block rounded-full border border-gray-3 px-7 py-2 text-base font-family-base text-body-color transition hover:border-primary hover:bg-primary hover:text-hoverColor dark:border-dark-3 dark:text-dark-6">
        Ver más
      </a>
    </div>
  </div>
</div> -->
<!-- Usamos hidden para mantener en el doom sin que visual lo use-->
<div data-component="card" class="hidden">
  <div class="w-full px-4 md:w-1/2 xl:w-1/4">
    <div
      class="mb-10 overflow-hidden rounded-lg bg-uocCorporate shadow-1 duration-300 hover:shadow-3 dark:bg-dark-2 dark:shadow-card dark:hover:shadow-3">

      <div class="flex justify-center pt-8 text-uoc-masterbrand text-6xl">
        <i class="{{ icon }} text-uocbg"></i>
      </div>

      <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
        <h3>
          <a href="{{ link }}"
            class="mb-4 block text-xl font-family-text text-dark hover:text-hoverColor sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px] dark:text-uocbg">
            {{ title }}
          </a>
        </h3>
        <p class="mb-7 text-base leading-relaxed text-uocbg dark:text-dark-6">
          {{ description }}
        </p>

        <a href="{{ link }}"
          class="inline-block rounded-full border border-gray-3 px-7 py-2 text-base font-family-base text-uocbg transition hover:border-primary hover:bg-primary hover:text-hoverColor dark:border-dark-3 dark:text-dark-6">
          {{ cta }}
        </a>
      </div>
    </div>
  </div>
</div>
