<header class="header">
    <div class="header__container">
      <figure class="header__logo">
        <a href="index.html">
          <img src="/src/assets/images/Logopage.png" alt="Logo" />
        </a>
      </figure>

      <nav class="header__nav" aria-label="Menú principal">
        <ul class="header__list">
          <li class="header__item">
            <a href="/src/article.html" class="header__link">Inicio</a>
          </li>
          <li class="header__item">
            <a href="/src/speakers.html" class="header__link"> Sobre Nosotros</a>
          </li>
          <li class="header__item">
            <a href="/src/formulario.html" class="header__link">Contacto</a>
          </li>
        </ul>
      </nav>
    </div>
      <h1 class="header__title">Jornadas de Economía Circular</h1>
  </header>