<!-- Header -->
    <header class="header">
      <div class="header__container">
        <div class="header__logo">
         <a href="index.html"> <img src="/src/assets/images/Logopage.png" alt="Logo" class="header__logo-img"/></a>
        </div>
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item"><a href="article.html" class="header__link">Articulo</a></li>
            <li class="header__item"><a href="speakers.html" class="header__link">Ponentes</a></li>
            <li class="header__item"><a href="formulario.html" class="header__link">Contacto</a></li>
          </ul>
        </nav>
      </div>
      <h1 class="header__title">Jornadas de Economía Circular</h1>
    </header>
